<div class="col-md-7 contact-para animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
  <h5>Contact Form</h5>
  <form>
    <div class="grid-contact">
      <div class="col-md-6 contact-grid">
        <p class="your-para">Name </p>
          <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
        </div>
      <div class="col-md-6 contact-grid">
      <p class="your-para">Phone number</p>
        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="grid-contact">
      <div class="col-md-6 contact-grid">
        <p class="your-para">Email</p>
        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
      </div>
      <div class="col-md-6 contact-grid">
        <p class="your-para">Password</p>
        <input type="Password" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
      </div>
      <div class="clearfix"> </div>
    </div>
    <p class="your-para msg-para">MESSAGE</p>
    <textarea cols="77" rows="6" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}"></textarea>
      <div class="send">
        <input type="submit" value="Send " >
      </div>
  </form>
  </div>
  
